<mat-card>
  <div style="text-align: center;">
    <div class="big-form col-md-12">
        <div class="small-result col-md-4">
          <mat-form-field>Nombre
            <input matInput type="text" value="{{name}}" disabled>
          </mat-form-field>
        </div>
         <div class="small-result col-md-4" > 
          <mat-form-field>Cuenta
            <input matInput type="text" value="{{account}}" disabled>
          </mat-form-field>
        </div>
        <div class="small-result col-md-4" > 
          <mat-form-field>Saldo
            <input matInput type="text" value="$ {{balance | number:'.1-2'}}" disabled>
          </mat-form-field>
         </div>
    </div>

    <mat-card>
    <div class="big-form col-md-12">
        <div class="small-result col-md-4">
          <label style="font-weight: 500;">Monto Solicitado: </label>
          <span style="font-weight: 100;">$ {{amountP | number:'.1-2'}}</span>
       </div>
       <div class="small-result col-md-4" > 
          <label style="font-weight: 500;">Tipo de Operación Solicitada: </label>
          <span style="font-weight: 100;">{{operation}}</span>
       </div>
       <div class="ssmall-result col-md-4"> 
          <label style="font-weight: 500;">Mensaje del Cliente: </label>
          <span style="font-weight: 100;">{{message}}</span>
        </div>
    </div>
    </mat-card>
  </div>
  <mat-card>
    <div style="text-align: center;">
      <form class="example-container" [formGroup]="payForm">
      <div class="big-form">
        <div class="small-form">       
              <mat-form-field>
                <input matInput placeholder="Cantidad" type="number" formControlName="amount" 
                class="example-right-align" autocomplete="off">
                <span matPrefix>$&nbsp;</span>
                <mat-error *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                  <mat-error *ngIf="f.amount.errors.required">El campo "Monto" es requerido.</mat-error>
                </mat-error>
              </mat-form-field>
           </div>
          <div class="small-form">  
              <mat-form-field>
                <mat-select placeholder="Tipo de Operación" formControlName="operation">
                  <mat-option *ngFor="let operation of operations" value="{{operation.id}}">{{operation.description}}
                  </mat-option>
                  <mat-error *ngIf="submitted && f.operation.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.operation.errors.required">El campo "Operación" es requerido.</mat-error>
                  </mat-error>
                </mat-select>
              </mat-form-field>
           </div> 
        <div class="example-button-row big-boton" style="text-align: left;">
          <button mat-raised-button color="accent"  [disabled]="show" (click)="cancel()">Cancelar</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="show" >Enviar</button>
        </div>
        </div>
      </form>
    </div>
  </mat-card>
</mat-card>
<mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
   <h2>Movimientos de la Cuenta</h2>
  </mat-toolbar>
<div class="mat-elevation-z8" *ngIf="!show">
  <table mat-table [dataSource]="dataMovements" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Operación</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="amount" >
      <th mat-header-cell *matHeaderCellDef mat-sort-heade style="text-align: center;"r>Monto</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;">$ {{row.amount | number:'.1-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="msg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Fecha Solicitud</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> 
      <span *ngIf="row.message">{{row.message.createdAt | date:'dd/MM/yyyy'}}</span>
      <span *ngIf="!row.message">N/A</span> 
      </td>
    </ng-container>
     <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Fecha Movimiento</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.createdAt | date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <!-- Progress Column -->
    <ng-container matColumnDef="operation" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Operación</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> 
      <span *ngIf="row.operation == 1">Abono</span>
      <span *ngIf="row.operation == 2">Retiro</span>
      <span *ngIf="row.operation == 3">Interés</span>      
      </td>
    </ng-container>
     <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Interés</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.tax | number:'.1-2'}} % </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>