<mat-card>
  <div style="text-align: center;">
    <div class="big-form col-md-12">
        <div class="small-result col-md-4">
          <mat-form-field>Nombre
            <input matInput type="text" value="{{name}}" disabled>
          </mat-form-field>
        </div>
        <div class="small-result col-md-4">
          <mat-form-field>Email
            <input matInput type="text" value="{{username}}" disabled>
          </mat-form-field>
        </div>
         <div class="small-result col-md-4" > 
          <mat-form-field>Cuenta
            <input matInput type="text" value="{{account}}" disabled>
          </mat-form-field>
        </div>
        <div class="small-result col-md-4" > 
          <mat-form-field>Saldo
            <input matInput type="text" value="$ {{balance | number:'.1-2'}}" disabled>
          </mat-form-field>
         </div>
    </div>
  </div>
</mat-card>
<mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
   <h2>Movimientos de la Cuenta</h2>
  </mat-toolbar>
<div class="mat-elevation-z8" *ngIf="!show">
   <table mat-table [dataSource]="dataMove" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Operación</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;">$ {{row.amount | number:'.1-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Operación</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> 
      <span *ngIf="row.operation == 1">Abono</span>
      <span *ngIf="row.operation == 2">Retiro</span>
      <span *ngIf="row.operation == 3">Interés</span> 
      </td>
    </ng-container>
     <ng-container matColumnDef="msg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Fecha Solicitud</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> 
      <span *ngIf="row.message">{{row.message.createdAt | date:'dd/MM/yyyy'}}</span>
      <span *ngIf="!row.message">N/A</span> 
      </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Movimiento</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.createdAt | date:'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Interés</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.tax | number:'.1-2'}} % </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>