<div *ngIf="show" style="text-align: center;padding: 50px;">{{message}}</div>
<div class="mat-elevation-z8" *ngIf="!show">
  <table mat-table [dataSource]="data" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Id Mensaje</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Usuario</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.user.firstName}} {{row.user.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Email</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.user.email}} </td>
    </ng-container>
    <!-- Progress Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Mensaje</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.message}}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Fecha Solicitud</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.createdAt | date:'dd/MM/yyyy'}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Operación</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> 
      <span *ngIf="row.operation.id == 1">Abono</span>
      <span *ngIf="row.operation.id == 2">Retiro</span>
      <span *ngIf="row.operation.id == 3">Interés</span>  
       </td>
    </ng-container>
    <!-- Color Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Monto</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> $ {{row.amount | number:'.1-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Acciones</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;">
        <mat-icon aria-hidden="false" aria-label="Example home icon" title="Abonar / Retirar" routerLink="/transaction/{{row.id}}" routerLinkActive="active">touch_app</mat-icon>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>