  <mat-toolbar color="primary" class="main-toolbar mat-elevation-z3">
    <span> <img width="300" alt="Angular Logo" src="./../assets/images/pmc_logo.png"></span>
    <span>
      <h2 style="    font-style: oblique; font-size: x-small;">Protegemos tus Activos</h2>
    </span>
    <span fxFlex="grow"></span>
    <p style="font-size: 12px;"></p>
  </mat-toolbar>
  <div class="example-container">
  <div class="loading-indicator" *ngIf="load">
  <p class="load">Esto puede tardar unos minutos.</p>
  <mat-spinner ></mat-spinner>
  </div>
    <mat-card class="example-card">
      <div class="card mt-5" style="margin:auto;width: 600px;">
        <div class="card-body">
          <mat-card-header>
            <mat-card-title>Recuperar Contraseña</mat-card-title>
            <mat-card-subtitle>Por favor ingresar tu email</mat-card-subtitle>
          </mat-card-header>
          <form class="example-container" [formGroup]="recoverPassForm">
            <mat-card-content>
              <div class="big-form col-md-12">
                  <div class="small-result col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" name="email" formControlName="email">
                      <mat-error *ngIf="submitted && f.email.errors">
                        <mat-error *ngIf="f.email.errors.required">El campo "Email" es requerido</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>            
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="accent"  (click)="cancel()"  [disabled]="show">Cancelar</button>
              <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="show">Enviar</button>
            </mat-card-actions>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
