.example-container {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    margin-top: 10%;
  }
  
  .example-container > * {
    width: 50%;
  }

  .mat-form-field {
    width: auto;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.load{
  font-style: italic;
  font-family: sans-serif;
  font-size: 12px;
  z-index: 999;
}



.small-form{
  width: 30%;
}

.small-result{
  width: 100%;
}

.big-boton{
  display: flex;
}

mat-card.example-card.mat-card > div.card {
  width: auto !important;
}

@media screen and (max-width: 800px) {
.big-form{
  display: grid;
  text-align: center;
}

.small-form{
 width: 100%;
}

.big-boton{
  display: flex;
}
}

.mat-form-field {
  width: 100%;
}