<mat-menu #appMenu="matMenu">
  <button mat-menu-item>
    <mat-icon> person_outline </mat-icon>
    <span> Profile </span>
  </button>
  <button mat-menu-item>
    <mat-icon> settings </mat-icon>
    <span> Configuration </span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon> exit_to_app </mat-icon>
    <span> Logout </span>
  </button>
</mat-menu>