.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  .big-form{
    display: inline-flex;
    text-align: center;
  }

  .small-form{
    width: 30%;
  }

  .big-boton{
    display: flex;
  }

  

@media screen and (max-width: 800px) {
  .big-form{
    display: grid;
    text-align: center;
  }

  .small-form{
   width: 100%;
  }

  .big-boton{
    display: flex;
  }
}


