<h1 mat-dialog-title> {{data.message}} </h1>
<!--<div mat-dialog-content>
 </div>-->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</div>