.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

label-title {
  font-weight: 500 !important;
}
label-result {
  font-weight: 100;
}


.big-form{
  display: inline-flex;
  text-align: center;
}

.small-form{
  width: 30%;
}

.small-result{
  width: 100%;
}

.big-boton{
  display: flex;
}

@media screen and (max-width: 800px) {
.big-form{
  display: grid;
  text-align: center;
}

.small-form{
 width: 100%;
}

.big-boton{
  display: flex;
}
}


table {
width: 100%;
}

th {
  text-align: center;
}

mat-form-field {
margin-right: 12px;
}

@media screen and (max-width: 600px) {
table {
    width:100%;
}
thead {
    display: none;
}
tr:nth-of-type(2n) {
    background-color: inherit;
}
tr td:first-child {
    background: #f0f0f0;
    font-weight:bold;
    font-size:1.3em;
}
tbody td {
    display: block;
    text-align:center;
}
tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
}
}

