<mat-card>
  <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
   <h2>Mensajes</h2>
  </mat-toolbar>
  <!-- <mat-card-subtitle>
   Mensajes
  </mat-card-subtitle> -->
  <app-inbox></app-inbox>
</mat-card>