@import '~@angular/material/theming';

mat-sidenav-container {
    /*background-color: #efefef;*/
}

mat-sidenav mat-nav-list,
mat-sidenav .mat-selection-list {
    overflow-y: auto;
    padding-bottom: 50px;
}

mat-sidenav mat-nav-list a mat-icon {
    font-size: 18px;
    margin-right: 10px;
}

mat-sidenav h3 {
    margin-bottom: 0px;
    margin-left: 20px;
}

mat-card {
    margin-bottom: 20px;
}

.main-content {
    padding: 0px;
}

.main-content .content-body {
    padding: 40px 20px 20px 20px;
}

.fab-theme {
    position: absolute;
    right: 20px;
    margin-top: 30px;
}

.big-logo, .big-menu, #big-logout{
    display: block;
}
.small-logo, .small-menu, #small-logout{
    display: none;
}

.title-username{
    font-size: 14px;
}

.title-date{
    font-size: 12px; font-weight: 100;
}




@media only screen and (max-width: 750px) {
    .big-logo, #big-logout{
        display: none;
    }
    .small-logo, #small-logout{
        display: block;
    }
  }

  @media only screen and (max-width: 750px) {
    .topbar-p{
        display: grid;
    }
  }

  @media only screen and (max-width: 850px) {
    .big-menu{
        display: none;
    }
   .small-menu{
        display: block;
    }
  }

  