<mat-toolbar color="primary" class="main-toolbar mat-elevation-z3">
    <span class="big-menu"><button fxHide.lg="true" fxHide.md="true" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Open side bar">menu</mat-icon>
      </button>
		</span>
		<span class="small-menu">
			<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item routerLink="/home" routerLinkActive="active" *ngIf="admin">
					<mat-icon>airplay</mat-icon>
					<span>Mensajes</span>
				</button>
				<button mat-menu-item routerLink="/client" routerLinkActive="active" *ngIf="!admin">
					<mat-icon>apps</mat-icon>
					<span>Clientes</span>
				</button>
        <button mat-menu-item routerLink="/balance" routerLinkActive="active" *ngIf="admin">
					<mat-icon>business</mat-icon>
					<span>Balance</span>
				</button>
        <button mat-menu-item routerLink="/transaction" routerLinkActive="active" *ngIf="admin">
					<mat-icon>assessment</mat-icon>
					<span>Transacción</span>
				</button>       
				<button mat-menu-item routerLink="/user" routerLinkActive="active" *ngIf="admin">
					<mat-icon>group_add</mat-icon>
					<span>Usuarios</span>
				</button>
			</mat-menu>
		</span>
     <span class="big-logo"> <img width="300" alt="Angular Logo" src="./../assets/images/pmc_logo.png"></span>
     <span class="big-logo"><h2 style="font-style: oblique; font-size: x-small;">Protegemos tus Activos</h2></span>
     <span class="small-logo"> <img width="50" alt="Angular Logo" src="./../assets/images/pmc.png"></span>
    <span fxFlex="grow"></span>
    <p class="topbar-p">
    <span class="title-username">{{username}}    </span>
    <span class="title-date">{{today}}</span>
    </p> 
     <button mat-icon-button matTooltip="Salir" (click)="logout()" id="small-logout">
        <mat-icon> exit_to_app </mat-icon>
      </button>    
    <button matTooltip="Configuration" mat-icon-button [matMenuTriggerFor]="appMenu" id="big-logout">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #appMenu="matMenu">
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon> exit_to_app </mat-icon>
        <span> Salir </span>
      </button>
    </mat-menu> 
  <mat-sidenav-container class="container" fxLayout="row wrap" fullscreen>
    <mat-sidenav #sidenav mode="side" opened="false" fxFlex="260px" class="mat-elevation-z3">
      <mat-nav-list>      
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/home" routerLinkActive="active" *ngIf="admin">
          <mat-icon>airplay</mat-icon>Mensajes
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/client" routerLinkActive="active" *ngIf="!admin">
          <mat-icon>apps</mat-icon>Clientes
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/balance" routerLinkActive="active" *ngIf="admin">
          <mat-icon>assessment</mat-icon>Balance
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/transaction" routerLinkActive="active" *ngIf="admin">
          <mat-icon>business</mat-icon>Transacción
        </a> 
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/user" routerLinkActive="active" *ngIf="admin">
          <mat-icon>group_add</mat-icon>Usuarios
        </a>         
      </mat-nav-list>
    </mat-sidenav>  
    <div class="main-content" fxFlex>     
      <div class="content-body" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">       
        <div fxFlex>    
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
  <app-footer></app-footer>