<mat-toolbar color="primary" class="main-toolbar mat-elevation-z3">
  <span> <img width="300" alt="Angular Logo" src="./../assets/images/pmc_logo.png"></span>
  <span>
    <h2 style="font-style: oblique; font-size: x-small;">Protegemos tus Activos</h2>
  </span>
  <span fxFlex="grow"></span>
  <p style="font-size: 12px;"></p>
</mat-toolbar>
<div class="example-container" *ngIf="showUpdate">
  <mat-card class="example-card">
    <div class="card mt-5" style="margin:auto;width: 600px;">
      <div class="card-body">
        <mat-card-header>
          <mat-card-title>Cambiar Contraseña</mat-card-title>
          <mat-card-subtitle>Por favor ingresar contraseña</mat-card-subtitle>
        </mat-card-header>
        <form class="example-container" [formGroup]="changePassForm">
          <mat-card-content>
             <div class="big-form col-md-12">
                <div class="small-result col-md-4">
                  <mat-form-field>
                    <input matInput placeholder="Ingresar Nueva Contraseña" [type]="hide ? 'password' : 'text'"
                      name="password" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf="submitted && f.password.errors"  class="invalid-feedback">
                        <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                        </mat-error>
                        <mat-error *ngIf="f.password.errors.required">El campo "Nueva Contraseña" es requerido
                        </mat-error>
                      </mat-error>
                    </button>
                  </mat-form-field>
               </div>
               <div class="small-result col-md-4" > 
                  <mat-form-field>
                    <input matInput placeholder="Confirmar Contraseña" [type]="hide ? 'password' : 'text'"
                      name="confirmPassword" formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf="submitted && f.confirmPassword.errors"  class="invalid-feedback">
                        <mat-error *ngIf="f.confirmPassword.errors.required">El campo "Nueva Contraseña" es requerido.
                        </mat-error>
                        <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Las contraseñas no coinciden.</mat-error>
                      </mat-error>
                    </button>
                  </mat-form-field>
                </div>
           </div>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent"  (click)="cancel()"  [disabled]="show">Cancelar</button>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="show">Guardar</button>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </mat-card>
</div>
<div class="example-container" *ngIf="!showUpdate">
  <mat-card class="example-card">
    <h4>La url es invalida, por favor vuelva a generar otra.</h4>
    <button mat-raised-button color="accent"  (click)="cancel()">Ir al Inicio</button>
  </mat-card>
</div>