.example-container {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    margin-top: 10%;
  }
  
  .example-container > * {
    width: 50%;
  }

  .mat-form-field {
    width: auto;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.small-form{
  width: 30%;
}

.small-result{
  width: 100%;
}

.big-boton{
  display: flex;
}

mat-card.example-card.mat-card > div.card {
  width: auto !important;
}

@media screen and (max-width: 800px) {
.big-form{
  display: grid;
  text-align: center;
}

.small-form{
 width: 100%;
}

.big-boton{
  display: flex;
}
}