<mat-card>
  <div style="text-align: center;">
    <table style="width: 100%">
      <tr>
        <td>
          <mat-form-field>Cuenta
            <input matInput type="text" value="{{account}}" disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>Saldo
            <input matInput type="text" value="$ {{balance | number:'.1-2'}}" disabled>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
    <button class="fab-theme" matTooltip="Acciones" [matMenuTriggerFor]="themeMenu" mat-fab>
      <mat-icon>dialpad</mat-icon>
    </button>
    <h2 style="margin-left: 2%">Movimientos</h2>
  </mat-toolbar>
  <mat-menu #themeMenu="matMenu" yPosition="below" xPosition="before">
    <button mat-menu-item routerLink="/cliente/operacion/{{id}}" routerLinkActive="active"> Nueva Operación </button>
  </mat-menu>
  <app-find-movements *ngIf="id" [id]="id"></app-find-movements>
</mat-card>