    <mat-card>
        <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
            <h2>Buscar Usuario</h2>
        </mat-toolbar>
        <div class="show-change">
            <div class="big-form col-md-12">
                <div class="small-result col-md-4">
                    <form class="example-container" [formGroup]="userForm">
                        <mat-form-field>
                            <mat-select placeholder="Buscar Usuario" formControlName="user" maxlength="12"
                                (selectionChange)="onUser($event)">
                                <mat-option *ngFor="let user of users" value="{{user.user.id}}">{{user.user.firstName}} {{user.user.lastName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </mat-card>
    <div *ngIf="showPanel">
        <mat-card>
            <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
                <h2>Realizar Transación</h2>
            </mat-toolbar>
            <div class="show-change">
                <div class="big-form col-md-12">
                    <div class="small-result col-md-4">
                        <mat-form-field>Nombre
                            <input matInput type="text" value="{{name}}" disabled>
                        </mat-form-field>
                    </div>
                    <div class="small-result col-md-4">
                        <mat-form-field>Cuenta
                            <input matInput type="text" value="{{account}}" disabled>
                        </mat-form-field>
                    </div>
                    <div class="small-result col-md-4">
                        <mat-form-field>Saldo
                            <input matInput type="text" value="$ {{balance | number:'.1-2'}}" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <form class="example-container" [formGroup]="payForm">
                    <div class="big-form">
                        <div class="small-form">
                            <mat-form-field>
                                <input matInput placeholder="Cantidad" step="0.01" type="number" formControlName="amount"
                                    class="example-right-align" autocomplete="off">
                                    <span matPrefix>$&nbsp;</span>
                                <mat-error *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.amount.errors.required">El campo "Monto" es requerido.</mat-error>
                                    <mat-error *ngIf="f.amount.errors.pattern">El campo "Monto" no acepta mas de dos decimales.</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="small-form">
                            <mat-form-field>
                                <mat-select placeholder="Tipo de Operación" formControlName="operation">
                                    <mat-option *ngFor="let operation of operations" value="{{operation.id}}">
                                        {{operation.description}}
                                    </mat-option>
                                    <mat-error *ngIf="submitted && f.operation.errors" class="invalid-feedback">
                                        <mat-error *ngIf="f.operation.errors.required">El campo "Operación" es requerido.
                                        </mat-error>
                                    </mat-error>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="example-button-row big-boton" style="text-align: left;">
                            <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
                            <button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
        <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
            <h2>Movimientos de la cuenta</h2>
        </mat-toolbar>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataMove" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Operación</th>
                    <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.id}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
                    <td mat-cell *matCellDef="let row" style="text-align: center;">$ {{row.amount | number:'.1-2'}} </td>
                </ng-container>
                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Operación</th>
                    <td mat-cell *matCellDef="let row"style="text-align: center;"> {{row.operation === '1'?'Abonar':'Retiro'}} </td>
                </ng-container>
                <ng-container matColumnDef="msg">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Fecha Solicitud</th>
                    <td mat-cell *matCellDef="let row" style="text-align: center;"> 
                    <span *ngIf="row.message">{{row.message.createdAt | date:'dd/MM/yyyy'}}</span>
                    <span *ngIf="!row.message">N/A</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Movimiento</th>
                    <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.createdAt | date:'dd/MM/yyyy'}}</td>
                </ng-container>
                 <ng-container matColumnDef="tax">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Interés</th>
                    <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.tax | number:'.1-2'}} % </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>