<mat-card>
  <div class="example-container">
    <div style="text-align: center;">
      <table style="width: 100%">
        <tr>
          <td>
            <mat-form-field>Cuenta
              <input matInput type="text" value="{{account}}" disabled>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>Saldo
              <input matInput type="text" value="$ {{balance | number:'.1-2'}}" disabled>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <form class="example-container" [formGroup]="operationForm">
    <div class="big-form">
    <div class="small-form">
            <mat-form-field>
              <input matInput placeholder="Monto" type="number" step="0.01" formControlName="amount" class="example-right-align" autocomplete="off">
              <span matPrefix>$&nbsp;</span>
              <mat-error *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                <mat-error *ngIf="f.amount.errors.required">El campo "Monto" es requerido</mat-error>
              </mat-error>
            </mat-form-field>  
    </div>
    <div class="small-form" style="margin-top: -1%;">       
            <mat-form-field>
              <textarea matInput placeholder="Mensaje" formControlName="message"></textarea>
              <mat-error *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <mat-error *ngIf="f.message.errors.required">El campo "Mensaje" es requerido</mat-error>
              </mat-error>
            </mat-form-field>
    </div>
    <div class="small-form">         
            <mat-form-field>
              <mat-select placeholder="Tipo de Operación" formControlName="operation">
                <mat-option *ngFor="let operation of operations" value="{{operation.id}}">{{operation.description}}</mat-option>                
              </mat-select>
              <mat-error *ngIf="submitted && f.operation.errors" class="invalid-feedback">
                <mat-error *ngIf="f.operation.errors.required">El campo "Operación" es requerido</mat-error>
              </mat-error>
            </mat-form-field>   
    </div>   
      <div class="example-button-row big-boton" >
        <button mat-raised-button color="accent" [disabled]="show"  (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="show">Enviar</button>       
      </div>
      </div>
    </form>
  </div>
</mat-card>