table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .mat-icon {
    cursor: grab;
}



@media screen and (max-width: 600px) {
  table {
      width:100%;
  }
  thead {
      display: block;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      // background: #f0f0f0;
      font-weight:bold;
     // font-size:1.3em;
  }
  tbody {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}
