<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="data" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Usuario</th>
      <td mat-cell *matCellDef="let row" ><a routerLink="/usuario/consulta/{{row.id}}" title="Ver Detalle" routerLinkActive="active"> {{row.id}} </a></td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let row" > {{row.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row" > {{row.email}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
      <td mat-cell *matCellDef="let row"> <mat-icon aria-hidden="false" aria-label="Example home icon" title="Deshabilitar" (click)="openDialog(row,'INACTIVE')" *ngIf="row.status === 'ACTIVE'">block</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" title="Habilitar" (click)="openDialog(row,'ACTIVE')" *ngIf="row.status === 'INACTIVE'">check</mat-icon></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>