@import '~@angular/material/theming';

mat-sidenav-container {
    /*background-color: #efefef;*/
}

mat-sidenav mat-nav-list,
mat-sidenav .mat-selection-list {
    overflow-y: auto;
    padding-bottom: 50px;
}

mat-sidenav mat-nav-list a mat-icon {
    font-size: 18px;
    margin-right: 10px;
}

mat-sidenav h3 {
    margin-bottom: 0px;
    margin-left: 20px;
}

mat-card {
    margin-bottom: 20px;
}

.main-content {
    padding: 0px;
}

.main-content .content-body {
    padding: 40px 20px 20px 20px;
}

.fab-theme {
    position: absolute;
    right: 20px;
    margin-top: 30px;
}