<mat-card>
  <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
   <h2>Balance Total</h2>
  </mat-toolbar>
  <div style="text-align: center;">
    <div class="big-form col-md-12">
        <div class="small-result col-md-4">
          <mat-form-field>Clientes Totales
            <input matInput type="text" value="{{clientCount}}" disabled>
          </mat-form-field>
        </div>
         <div class="small-result col-md-4" > 
          <mat-form-field>Balance Total
            <input matInput type="text" value="$ {{totalBalance | number:'.1-2'}}" disabled>
          </mat-form-field>
        </div>        
    </div>    
  </div>
</mat-card>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataUserAccount" matSort>
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;" >{{row.account.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.user.firstName}} {{row.user.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.user.username}} </td>
    </ng-container>    
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;">$ {{row.account.balance === null? 0 : row.account.balance | number:'.1-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ver</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;">
      <mat-icon aria-hidden="false" aria-label="Example home icon" title="Abonar / Retirar" routerLink="/balance/user/{{row.user.id}}" routerLinkActive="active">touch_app</mat-icon>
       </td>
    </ng-container>    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>