/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

@import 'theme.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

:host {
    min-height: 100%;
    display: flex;
}

mat-toolbar.main-toolbar {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}

footer {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0px;
    z-index: 99;
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

mat-sidenav {
    overflow: auto;
    padding-top: 70px;
}

mat-sidenav-content {
    width: 100%;
}

.select2-container--default .select2-selection {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
}

.select2-container--default .select2-selection--single {
    padding: 6px 24px 6px 0
}

.select2-container--default.select2-container--focus .select2-selection,
.select2-container--default.select2-container--open .select2-selection {
    box-shadow: none;
    border-color: #e6e6e6;
}

.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 5px 5px 0 0;
    border: 1px solid #e6e6e6;
}

.select2-container--default .select2-selection:focus {
    outline: none;
}

select:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    .container {
        padding-top: 56px;
    }
}

.mat-toolbar.mat-primary {
    background: #fff;
    color: #b69c36;
}

footer {
    background-color: #ebd88f;
    color: #b69c36;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #b69c36;
}

footer a {
    color: #b69c36;
}
.mat-raised-button.mat-primary{
    background-color: #b69c36;
}
/* .example-button-row{
    text-align: right;
} */
.mat-input {
    caret-color: #b69c36 !important;
}
.mat-raised-button.mat-accent{
    background-color: #4f6997;
}

.mat-form-field {
    
    width: 80%;
}

[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 500px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  .load{
    font-style: italic;
    font-family: sans-serif;
    font-size: 12px;
    z-index: 999;
  }

