.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

input.example-left-align::-webkit-outer-spin-button,
input.example-left-align::-webkit-inner-spin-button {
  display: none;
}

input.example-left-align {
  -moz-appearance: textfield;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.load{
  font-style: italic;
  font-family: sans-serif;
  font-size: 12px;
  z-index: 999;
}


.big-form{
  display: inline-flex;
  text-align: center;
}

.small-form{
  width: 30%;
}

.big-boton{
  display: flex;
}



@media screen and (max-width: 800px) {
.big-form{
  display: grid;
  text-align: center;
}

.small-form{
 width: 100%;
}

.big-boton{
  display: flex;
}
}
