    <mat-card>
      <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
        <h2>Crear Usuario</h2>
      </mat-toolbar>
      <div class="example-container">
    <div class="loading-indicator" *ngIf="load">
      <p class="load">Esto puede tardar unos minutos.</p>
          <mat-spinner></mat-spinner>
      </div>
        <form class="example-container" [formGroup]="registerForm">    
                <div class="big-form col-12">
                <div class="small-result col-4">
                  <mat-form-field>
                        <input matInput placeholder="Nombre" formControlName="firstName" autocomplete="off">
                        <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.firstName.errors.required">El campo "Nombre" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="small-result col-4">
                <mat-form-field>
                        <input matInput placeholder="Apellido" formControlName="lastName" autocomplete="off">
                        <mat-error *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.lastName.errors.required">El campo "Apellido" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="small-result col-4">
                <mat-form-field>
                        <mat-select placeholder="Tipo de Documento" formControlName="documentType" maxlength="12">
                        <mat-option *ngFor="let documentType of documentTypes" value="{{documentType.description}}">{{documentType.description}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="submitted && f.documentType.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.documentType.errors.required">El campo "Tipo Documento" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="big-form col-12">            
              <div class="small-result col-4">
                  <mat-form-field>             
                        <input matInput placeholder="N° Documento" formControlName="document" type="number"
                          class="example-left-align" autocomplete="off">
                        <mat-error *ngIf="submitted && f.document.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.document.errors.required">El campo "Nro. Documento" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="small-result col-4">
                  <div>
                      <span style="font-size: 12px;">Adjuntar Documento </span>
                      <input type="file" id="my-input" (change)="onFileChange($event)" accept="image/jpeg" data-max-size="2048">
                      <input type="hidden" name="fileHidden" formControlName="picture"/> 
                      <mat-error *ngIf="submitted && f.picture.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.picture.errors.required">El campo "Adjuntar Documento" es requerido</mat-error>
                        </mat-error>
                      <img src="{{picture}}" width="100" style="padding-top: 5px;" *ngIf="picture">
                      </div>
                </div>
                <div class="small-result col-4">            
                      <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" autocomplete="off">
                        <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.email.errors.required">El campo "Email" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field> 
                </div>              
            </div>
            <div class="big-form col-12">        
              <div class="small-result col-4">
                    <mat-form-field>
                        <mat-select placeholder="Genero" formControlName="gender">
                        <mat-option *ngFor="let gender of genders" value="{{gender.id}}">{{gender.description}}</mat-option>
                          </mat-select>
                        <mat-error *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.gender.errors.required">El campo "Genero" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="small-result col-4">
                  <mat-form-field>
                        <input type=" tel" matInput placeholder="Teléfono" formControlName="phone" type="number"
                          class="example-left-align" autocomplete="off">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.phone.errors.required">El campo "Teléfono" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="small-result col-4">
                  <mat-form-field>
                        <input matInput placeholder="Compañia" disabled formControlName="company" autocomplete="off">
                      </mat-form-field>
                </div>
                
            </div>
          <div class="big-form col-12">       
            <div class="small-result col-4">
                    <mat-form-field>
                        <textarea matInput placeholder="Dirección" formControlName="address" autocomplete="off"></textarea>
                        <mat-error *ngIf="submitted && f.address.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.address.errors.required">El campo "Dirección" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="small-result col-4">
                  <mat-form-field>
                        <input matInput placeholder="Ciudad" formControlName="city" autocomplete="off">
                        <mat-error *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.city.errors.required">El campo "Ciudad" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>    
                </div>
                <div class="small-result col-4">      
                      
                      <mat-form-field>
                        <input matInput placeholder="Estado" formControlName="state" autocomplete="off">
                        <mat-error *ngIf="submitted && f.state.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.state.errors.required">El campo "Estado" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>   
                </div>            
            </div>
            <div class="big-form col-12"> 
            <div class="small-result col-4">
                    <mat-form-field>
                        <input matInput #postalCode maxlength="5" placeholder="Código Postal" formControlName="zip"
                          type="number" class="example-left-align" autocomplete="off">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        <mat-error *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.zip.errors.required">El campo "Código Postal" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field>
                </div>       
                <div class="small-result col-4">
                  <mat-form-field>
                        <mat-select placeholder="Tipo de Usuario" formControlName="role">
                        <mat-option *ngFor="let role of roles" value="{{role.id}}">{{role.description}}</mat-option>
                          </mat-select>
                        <mat-error *ngIf="submitted && f.role.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.role.errors.required">El campo "Rol" es requerido</mat-error>
                        </mat-error>
                      </mat-form-field> 
                </div>
            </div>                     
                <div class="example-button-row">
                  <button mat-raised-button color="accent"  (click)="cancel()"  [disabled]="show">Cancelar</button>
                  <button mat-raised-button color="primary" (click)="onSubmit()"  [disabled]="show" >Crear</button>
                </div>
        </form>
      </div>
    </mat-card>