<mat-card>
  <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
    <div>
    <button class="fab-theme" matTooltip="Acciones" [matMenuTriggerFor]="themeMenu" mat-fab>
      <mat-icon>dialpad</mat-icon>
    </button>
  </div>
   <h2 style="margin-left: 2%">Usuarios</h2>
  </mat-toolbar>
  <mat-menu #themeMenu="matMenu" yPosition="below" xPosition="before">
    <button mat-menu-item  routerLink="/usuario/crear" routerLinkActive="active"> Nuevo Usuario </button>
    <!-- <button mat-menu-item routerLink="/usuario/eliminar" routerLinkActive="active"> Dar De Baja </button>-->
  </mat-menu>
  <app-find-users></app-find-users>
</mat-card>